$borderRadius: 5px;
main {
	width: 100%;
	border: 1px solid black;
	border-radius: $borderRadius;
}

.buttonMenu {
	border: 1px solid rgb(218, 10, 10);
	height: 200px;
}

.formulaField {
	border: 1px solid green;
	height: 50px;
	width: 100%;
}

.table {
	border: 1px solid  rgb(15, 15, 236);
	background-color: #c7c3c3;
	display: table;
	width: 100%;
	box-sizing: border-box;
}

.tr {
	display: table-row;
}

.trTh {
	display: table-cell;
	border: 1px solid black;
	text-align: center;
	width: 5px;
	height: 30px;
	background-color: #ac93f0;
	font-weight: bold;
	vertical-align: middle;
}

.tdTh {
	display: table-cell;
	border: 1px solid black;
	text-align: center;
	width: 43px;
	height: 30px;
	background-color: #ac93f0;
	font-weight: bold;
	vertical-align: middle;
}

.td {
	display: table-cell;
	border: 1px solid black;
	text-align: center;
	width: 90px;
	height: 30px;
	vertical-align: middle;
	max-width: 90px;
	white-space: nowrap;

}

 .formula {
	width: 600px;
	height: 30px;
	border: 1px solid #646363;
	border-radius: $borderRadius;
	margin: auto;
	margin-top: 6px;
	display: block;
	font-size: 20px;
	padding: 3px 5px;
	outline: none; 
}
