$borderRadius: 5px;
$border: 1px solid;
$no-select: none;
$cellWidth: 120px;
@mixin text-align {
	text-align: center;
	vertical-align: middle;
}

main {
	// width: 100%;
	border: $border black;
	border-radius: $borderRadius;
}

.buttonMenu {
	border: $border rgb(218, 10, 10);
	height: 200px;
}

.formulaField {
	border: $border green;
	height: 50px;
	// width: 100%;

	.formula {
		width: 600px;
		height: 30px;
		border: $border #646363;
		border-radius: $borderRadius;
		margin: 6px auto;
		display: block;
		font-size: 20px;
		padding: 3px 5px;
		outline: none; 
	}
}

.table {
	border: $border  rgb(15, 15, 236);
	background-color: #c7c3c3;
	display: inline-flex;
	flex-direction: column;
	overflow-x: auto;
	min-width: 100%;

	.tr {
		display: flex;
		height: 33px;
		position: relative;
		
		.trTh {
			border: $border black;
			@include text-align;
			width: 16px;
			background-color: #ac93f0;
			font-weight: bold;
			user-select: $no-select;
		}

		.tdTh {
			border: $border black;
			@include text-align;
			background-color: #ac93f0;
			font-weight: bold;
			user-select: $no-select;
			position: relative;
			min-width: 40px;
			width: $cellWidth;

			.resizeX {
				width: 4px;
				position: absolute;
				right: 0;
				bottom: 0;
				top: 0;

				&:hover {
					cursor: col-resize;
				}
			}
		}

		.td {
			border: $border black;
			@include text-align;
			min-width: 40px;
			overflow: overlay;
			width: $cellWidth;
		}
	}
}
