$borderRadius: 5px;
$border: 1px solid;
$no-select: none;
@mixin text-align {
	text-align: center;
	vertical-align: middle;
}

main {
	width: 100%;
	border: $border black;
	border-radius: $borderRadius;
}

.buttonMenu {
	border: $border rgb(218, 10, 10);
	height: 200px;
}

.formulaField {
	border: $border green;
	height: 50px;
	width: 100%;

	.formula {
		width: 600px;
		height: 30px;
		border: $border #646363;
		border-radius: $borderRadius;
		margin: 6px auto;
		display: block;
		font-size: 20px;
		padding: 3px 5px;
		outline: none; 
	}
}

.table {
	border: $border  rgb(15, 15, 236);
	background-color: #c7c3c3;
	display: table;
	width: 100%;

	.tr {
		display: table-row;
		height: 30px;
		position: relative;
		
		.trTh {
			display: table-cell;
			border: $border black;
			@include text-align;
			width: 16px;
			background-color: #ac93f0;
			font-weight: bold;
			user-select: $no-select;
		}

		.tdTh {
			display: table-cell;
			border: $border black;
			@include text-align;
			background-color: #ac93f0;
			font-weight: bold;
			user-select: $no-select;

			.resizeX {
				float: right;
				width: 4px;
				height: 30px;

				&:hover {
					cursor: col-resize;
				}
			}
		}

		.td {
			display: table-cell;
			border: $border black;
			@include text-align;
			white-space: nowrap;
		}
	}
}
